<template>
  <div>
    <md-dialog :md-active.sync="showDialog">
      <md-dialog-title>Preferences</md-dialog-title>

      <md-tabs md-dynamic-height>
        <md-tab md-label="General">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
        </md-tab>

        <md-tab md-label="Activity">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
        </md-tab>

        <md-tab md-label="Account">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam mollitia dolorum dolores quae commodi
            impedit possimus qui, atque at voluptates cupiditate. Neque quae culpa suscipit praesentium inventore
            ducimus ipsa aut.</p>
        </md-tab>
      </md-tabs>

      <md-dialog-actions>
        <md-button class="md-primary" @click="showDialog = false">Close</md-button>
        <md-button class="md-primary" @click="showDialog = false">Save</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-button class="md-primary md-raised" @click="showDialog = true">Show Dialog</md-button>
  </div>
</template>

<script>
export default {
  name: 'DialogCustom',
  data: () => ({
    showDialog: false
  })
}
</script>

<style lang="scss" scoped>
  .md-dialog {
    max-width: 768px;
  }
</style>
