<template class="md-layout">
  <div >
    <md-content class="md-scrollbar">
      <md-table class="md-content table-height">
        <md-table-row class="md-table-head">
          <md-table-head md-numeric>ID</md-table-head>
          <md-table-head>Name</md-table-head>
          <md-table-head>Email</md-table-head>
          <md-table-head>Gender</md-table-head>
          <md-table-head>Job Title</md-table-head>
        </md-table-row>
        <md-table-row>
          <md-table-cell md-numeric>1</md-table-cell>
          <md-table-cell>Shawna Dubbin</md-table-cell>
          <md-table-cell>sdubbin0@geocities.com</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Assistant Media Planner</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>2</md-table-cell>
          <md-table-cell>Odette Demageard</md-table-cell>
          <md-table-cell>odemageard1@spotify.com</md-table-cell>
          <md-table-cell>Female</md-table-cell>
          <md-table-cell>Account Coordinator</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>3</md-table-cell>
          <md-table-cell>Vera Taleworth</md-table-cell>
          <md-table-cell>vtaleworth2@google.ca</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Community Outreach Specialist</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>1</md-table-cell>
          <md-table-cell>Shawna Dubbin</md-table-cell>
          <md-table-cell>sdubbin0@geocities.com</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Assistant Media Planner</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>2</md-table-cell>
          <md-table-cell>Odette Demageard</md-table-cell>
          <md-table-cell>odemageard1@spotify.com</md-table-cell>
          <md-table-cell>Female</md-table-cell>
          <md-table-cell>Account Coordinator</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>3</md-table-cell>
          <md-table-cell>Vera Taleworth</md-table-cell>
          <md-table-cell>vtaleworth2@google.ca</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Community Outreach Specialist</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>1</md-table-cell>
          <md-table-cell>Shawna Dubbin</md-table-cell>
          <md-table-cell>sdubbin0@geocities.com</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Assistant Media Planner</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>2</md-table-cell>
          <md-table-cell>Odette Demageard</md-table-cell>
          <md-table-cell>odemageard1@spotify.com</md-table-cell>
          <md-table-cell>Female</md-table-cell>
          <md-table-cell>Account Coordinator</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>3</md-table-cell>
          <md-table-cell>Vera Taleworth</md-table-cell>
          <md-table-cell>vtaleworth2@google.ca</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Community Outreach Specialist</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>1</md-table-cell>
          <md-table-cell>Shawna Dubbin</md-table-cell>
          <md-table-cell>sdubbin0@geocities.com</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Assistant Media Planner</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>2</md-table-cell>
          <md-table-cell>Odette Demageard</md-table-cell>
          <md-table-cell>odemageard1@spotify.com</md-table-cell>
          <md-table-cell>Female</md-table-cell>
          <md-table-cell>Account Coordinator</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>3</md-table-cell>
          <md-table-cell>Vera Taleworth</md-table-cell>
          <md-table-cell>vtaleworth2@google.ca</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Community Outreach Specialist</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>1</md-table-cell>
          <md-table-cell>Shawna Dubbin</md-table-cell>
          <md-table-cell>sdubbin0@geocities.com</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Assistant Media Planner</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>2</md-table-cell>
          <md-table-cell>Odette Demageard</md-table-cell>
          <md-table-cell>odemageard1@spotify.com</md-table-cell>
          <md-table-cell>Female</md-table-cell>
          <md-table-cell>Account Coordinator</md-table-cell>
        </md-table-row>

        <md-table-row>
          <md-table-cell md-numeric>3</md-table-cell>
          <md-table-cell>Vera Taleworth</md-table-cell>
          <md-table-cell>vtaleworth2@google.ca</md-table-cell>
          <md-table-cell>Male</md-table-cell>
          <md-table-cell>Community Outreach Specialist</md-table-cell>
        </md-table-row>
      </md-table>
    </md-content>
  </div>
</template>

d-table-rbute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  .md-content {
    max-width: 100%;
    height: 470px;
    overflow: auto;
  }
</style>
