<template>
  <div>
    <h1 style="margin-top: 0">{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'Fiado',
  data () {
    return {
      msg: 'Fiado'
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  h1, h2 {
    font-weight: normal;
  }
</style>
