<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <md-button class="md-icon-button" @click="showTopMenu = !showTopMenu" v-if="!showTopMenu">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">HookPRO</span>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="showTopMenu" md-persistent="full">
        <md-toolbar class="md-transparent" md-elevation="0">
          <a href="/">
            <img src="./assets/logo-hookpro.png" alt="Logo HookPRO" style="width: 150px">
          </a>
          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="showTopMenu = !showTopMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list @click="showTopMenu = !showTopMenu">
          <router-link to="/caixa">
          <md-list-item>
            <md-icon>dashboard</md-icon>
            <span class="md-list-item-text">CAIXA</span>
          </md-list-item>
          </router-link>

          <router-link to="/clientes">
            <md-list-item>
              <md-icon style="display: block">group</md-icon>
              <span class="md-list-item-text">CLIENTES</span>
            </md-list-item>
          </router-link>

          <router-link to="/fiado">
          <md-list-item>
            <md-icon>card_membership</md-icon>
            <span class="md-list-item-text">FIADO</span>
          </md-list-item>
          </router-link>

          <router-link to="/produtos">
          <md-list-item>
            <md-icon>shop</md-icon>
            <span class="md-list-item-text">PRODUTOS</span>
          </md-list-item>
          </router-link>

          <router-link to="/gerencia">
          <md-list-item>
            <md-icon>store</md-icon>
            <span class="md-list-item-text">CAIXA/ GERENCIA</span>
          </md-list-item>
          </router-link>

          <router-link to="/relatorios">
          <md-list-item>
            <md-icon>description</md-icon>
            <span class="md-list-item-text">RELATÓRIOS</span>
          </md-list-item>
          </router-link>
        </md-list>
      </md-app-drawer>

      <md-app-content class="hook-main md-elevation-4">
        <router-view></router-view>
      </md-app-content>
    </md-app>
    <span class="hook-copyright">Desenvolvido por Vinícius Magnabosco. <strong>(46)99983-8737</strong></span>
  </div>
</template>

<script>
export default {
  name: 'PersistentFull',
  data: () => ({
    showTopMenu: false
  })
}
</script>

<style lang="scss" scoped>
  a, a:hover {
    color: inherit !important;
    text-decoration: none;
  }

  body > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .md-app:not(.md-overlap).md-theme-default {
    background: #efefef;
  }

  body > div > div > main > div.md-app-scroller.md-layout-column.md-flex.md-theme-default.md-scrollbar > div {
    width: 88%;
    height: 90%;
    margin: 2% 6% 2% 6%;
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .hook-copyright {
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
  }

  .md-app {
    border: 1px solid rgba(#000, .12);
  }

  // Demo purposes only
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }

</style>
